[submodule "third-party/mruby"]
	path = third-party/mruby
	url = https://github.com/kentlau0423/mruby
[submodule "third-party/neverbleed"]
	path = third-party/neverbleed
	url = https://github.com/kentlau0423/neverbleed.git
	branch = openssl111fix
